p{
    margin-top: 20px;
margin-bottom: 30px;
}

.arrivalBanner{
    max-width: 590px;
    width: 100%;
}

.arrivalBanner {
    max-width: 358px;
    width: 100%;
}

.newArrival{
    padding: 110px;
}